{% extends 'base.html' %}

{% block title  %}Danny Sibley | Machine Learning Home Price Project {% endblock  %}
{% block content  %}


<form action="{{ url_for('predict')}}"method="post">
  <section id="introSec" > 
    <div class="modal-body text-black">
      <div class="container-fluid px-5 pb-8">
        <div class="row align-items-center justify-content-center">
          <div class="col">
                <h1>Home Price Prediction</h1>
            <!-- Main Input For Receiving Query to ML -->
            <div class="card mx-auto mb-5"  style="width: 30rem;">
              <img src="./static/imgs/house.jpg" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <p class="card-text">The machine learning project was created using Python with Numpy, Pandas, scikit-learn and matplotlib for visualizations. The data was collected from RedFin home sales in the Portland Metro area from the last 2 years. Click the Github link to see the full code including a juypter notebook write up. 
                   </p>
              </div>
              <div class="pt-2 pb-2 mx-auto">
              <a class="btn btn-outline-dark" href="https://github.com/Danny-Sibley/Housing_Prices_ML" role="button"> Github
               </a>
              </div>
            </div>
            <div class="form-group">
                <label for="Zipcode">Zipcode:</label>
                <br>
                <select class="form-select" name = "Zipcode" required="required">
                  <option value ="">None</option>
                  <option value="97003">97003</option>
                  <option value="97005">97005</option>
                  <option value="97006">97006</option>
                  <option value="97007">97007</option>
                  <option value="97008">97008</option>
                  <option value="97035">97035</option>
                  <option value="97062">97062</option>
                  <option value="97078">97078</option>
                  <option value="97086">97086</option>
                  <option value="97113">97113</option>
                  <option value="97116">97116</option>
                  <option value="97123">97123</option>
                  <option value="97124">97124</option>
                  <option value="97132">97132</option>
                  <option value="97140">97140</option>
                  <option value="97201">97201</option>
                  <option value="97202">97202</option>
                  <option value="97203">97203</option>
                  <option value="97206">97206</option>
                  <option value="97210">97210</option>
                  <option value="97211">97211</option>
                  <option value="97212">97212</option>
                  <option value="97213">97213</option>
                  <option value="97214">97214</option>
                  <option value="97215">97215</option>
                  <option value="97216">97216</option>
                  <option value="97217">97217</option>
                  <option value="97218">97218</option>
                  <option value="97219">97219</option>
                  <option value="97220">97220</option>
                  <option value="97221">97221</option>
                  <option value="97222">97222</option>
                  <option value="97223">97223</option>
                  <option value="97224">97224</option>
                  <option value="97225">97225</option>
                  <option value="97227">97227</option>
                  <option value="97229">97229</option>
                  <option value="97230">97230</option>
                  <option value="97231">97231</option>
                  <option value="97232">97232</option>
                  <option value="97233">97233</option>
                  <option value="97236">97236</option>
                  <option value="97239">97239</option>
                  <option value="97266">97266</option>
                  <option value="97267">97267</option>
                  <option value="98664">98664</option>
                </select>
              </div>
          </div>
        </div>
        <div class="row align-items-center justify-content-center">
          <div class="col">
            <div class="form-group">
              <label for="bedrooms">Bedrooms:</label>
              <input type="text" class="form-control" name="Bedrooms" id="bedrooms"  placeholder="Bedrooms" required="required" />
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col">
            <div class="form-group">
              <label for="bathrooms">Bathrooms:</label>
              <input type="text" class="form-control" name="bathrooms" placeholder="Bathrooms" required="required" />
            </div>
          </div>
        </div>
        <div class="row align-items-center justify-content-center">
          <div class="col">
            <div class="form-group">
              <label for="SQFT">SQFT:</label>
              <input type="text" class="form-control" name="sqft" id="sqft"  placeholder="SQFT" required="required" />
            </div>
          </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col">
              <div class="form-group">
                <label for="year_built">Year Built:</label>
                <input type="text" class="form-control" name="year_built" id="year_built"  placeholder="Year Built" required="required" />
              </div>
            </div>
        </div>
          <div class="row align-items-center justify-content-center">
            <div class="col">
              <div class="form-group">
                <label for="lot_size">Lot Size:</label>
                <input type="text" class="form-control" name="lot_size" id="lot_size"  placeholder="Lot Size" required="required" />
              </div>
            </div>
          </div>
        <button type="submit" class="btn btn-outline-dark" >Predict Price</button>
        <div>
          <br>
          <p class = "h5">{{ prediction_text }}</p> 
        </div>
      </div>
    </div>
  </section>
</form>
  

 




{% endblock  %}